* {
    font-family:Verdana, Geneva, Tahoma, sans-serif, 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    height: 50%;
    align-items: center;
    justify-content: space-between;
}
header .logo {
    background-image: cover;
    position: absolute;
    transform: scale(50%);
}
header .button {
    width: 30px;
    height: 10px;
    border-radius: 20px;
    background-color: rgb(59, 55, 55);
}