* {
    font-family:Verdana, Geneva, Tahoma, sans-serif, 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    height: 100vh;
    width: 100%;
    padding: 16px 5%;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
header .logo {
    display: block;
    background-image: cover;
    width: 160px;
    transform: scale(50%);
}
header .button {
    display: block;
    border-radius: 20px;
    background-color: rgb(59, 55, 55);
    padding: 15px 50px;
    /* margin: 10px 30px; */
    cursor: pointer;
}
.text {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    font-weight: 500;
}